footer {
  height: 100%;

  text-align: center;
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  background-color: rgba(0, 0, 0, 0.4);

  padding: 0.4rem 6rem 0.4rem 6rem;

  color: #7c7c7c;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}