* {
  margin: 0;
  padding: 0;
}

nav {
  height: 10%;
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-weight: 300;

  
}

nav a {
  color: white;
  text-decoration: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;


  margin: 0rem 0rem 0.2rem 0rem;

  padding: 0.5rem 0.4rem 0rem 0.4rem;

}

nav a:hover {
  background-color: #007550;
}

.active {
  background-color: #0faf80;

}

nav svg {
  width: 40px;
  height: 40px;
  fill: #908F90;

  padding: 10px;
}

.active svg {
  fill: white;
}