@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  font-family: 'Roboto';
}

.bg-fill {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: absolute;
}

.bg-image {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: absolute;
}

.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90vw;
  max-width: 506px;
  position: absolute;
  background-color: rgba(22, 21, 19, 0.9);
  border-radius: 8px;
  box-shadow: 5px 8px 15px black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}